
#html {
	overscroll-behavior: none;
}

html, body {
    height: 100%;
    overflow: none;
}

.table-container {
    height: 450px;
    overflow-y: scroll;
	background-color: lightblue;
}

.table-container:empty {
    background-color: white;
}
#mySelect, #mySelect option {
    font-family: "Courier New", Courier, monospace;
    font-size: 100%;
}

body {
	overscroll-behavior: none;
	font-family: "Courier New";
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	overflow: none;
	}

iframe {
      display: block;
      width: 100vw;
      height: 100vh;
      border: 5px;
    }

fieldset {
  	background-color: lightblue;
  	font-family: "Courier New", Courier, monospace;
	font-size: 110%;
    color: black;
    font-weight: bold;
}

div {
  	background-color: white;
}

div1 {
  	background-color: lightblue;;
}

.WHISTEURS {
 	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
    color: black;
    font-weight: bold;
}

.WHISTEURS2 {
 	font-family: "Courier New", Courier, monospace;
	font-size: 120%;
    color: black;
	background-color: #d5f4e6;
    font-weight: bold;
}

ol {
    list-style-type: decimal;
    padding-left: 40px;
}

/*
ol li:not(:last-child) {
    margin-bottom: 10px;
}

li {
	display: inline-block;
}
*/

.WHISTEURS3 {
	display: flex;
    flex-direction: column;
    gap: 10px;
 	font-family: "Courier New", Courier, monospace;
	font-size: 120%;
    color: black;
	background-color: WHITE;
    font-style: italic;
}

.text-style {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: block;
    text-align: center;
	}

.table1 {
    position: fixed;
    top: 0;
    left: 0;
}

th[scope="td1"] {
	width: 8%;
	background-color: lightblue;
	}

th[scope="td2"]{
	width: 20%;
	background-color: lightblue;
	}

th[scope="td3"]{
	width: 40%;
	background-color: lightblue;
	}

th[scope="td4"]{
	width: 40%;
	background-color: lightblue;
	}

tr {
	background-color: lightblue;		
	}

.ENTETE {
	background-color: yellow;	
	font-size: 24px;
    color: black;
    font-weight: bold;	
	}

td {
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;
	}

.SPECIAL {
	background-color: yellow;
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;
	}

.GENERAL1 {
	font-family: "Arial";
	font-size: 110%;
	font-weight: bold;
	color: black;
	background-color: white;
}
.GENERAL2 {
	font-family: "Arial";
	font-size: 140%;
	font-weight: bold;
	color: black;
	background-color: lightgrey;
}

.couleur1 {
	background-color: lightgrey;
	color: black;
	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 120%;
}
.couleur2 {
	background-color: lightblue;
	color: black;
	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 120%;
}
.couleur3 {
	background-color: lightgreen;
	color: black;
	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 120%;
}

.select1 {
	background-color: white;
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 200%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	}

.pButtons {
  background-color: #0078d7;
  color: white;
  border: none;
  padding: 0px 2px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
}

.pButtons:hover {
  background-color: #005fa3;
}

.select2 {
	background-color: white;
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 100%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	}

.select3 {
	background-color: white;
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 140%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	}

.infoMEM {
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 100%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	}

.persLI1 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 100%;
	list-style-type: decimal;
	color: RED; 
	font-weight: bold;
}
.persLI2 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 75%;
	list-style-type: decimal;
	color: black;
	font-weight: none;
}

option:checked, option:hover {
  background-color: black;
  color: greenyellow;
  font-size: 100%;
}

select{
	background-color: white;
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 100%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	white-space: nowrap;    /* Prevents the text from wrapping to multiple lines */
  	text-overflow: ellipsis; 
  	}
	
.MSGTXT{
	background-color: #ebebf7;
   	font-family: TAHOMA;
   	font-weight: italic;
   	font-size: 100%;
	color: red;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	overflow: scroll;
  	}

.blink {
  animation: blink 1s linear infinite;
  background-color: white;
  color:red;
}

@keyframes blink {
  0%, 100% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Fully invisible */
  }
}
