
html {
	overscroll-behavior: none;
}

body {
	overscroll-behavior: none;
	font-family: "Courier New";
	margin: 0;
	padding: 0;
	background-color: #FAFAFA;
	}

fieldset {
  	background-color: lightblue;
  	font-family: "Courier New", Courier, monospace;
	font-size: 110%;
    color: black;
    font-weight: bold;
}

div {
  	background-color: lightblue;
}

.WHISTEURS {
 	font-family: "Courier New", Courier, monospace;
	font-size: 100%;
    color: black;
    font-weight: bold;
}

.WHISTEURS2 {
 	font-family: "Courier New", Courier, monospace;
	font-size: 120%;
    color: black;
	background-color: #d5f4e6;
    font-weight: bold;
}

.text-style {
    font-size: 24px;
    color: black;
    font-weight: bold;
    display: block;
    text-align: center;
	}


th[scope="td1"] {
	width: 8%;
	background-color: lightblue;
	}

th[scope="td2"]{
	width: 20%;
	background-color: lightblue;
	}

th[scope="td3"]{
	width: 40%;
	background-color: lightblue;
	}

th[scope="td4"]{
	width: 40%;
	background-color: lightblue;
	}

tr {
	background-color: lightblue;		
	}
	
td {
	font-family: "Courier New", Courier, monospace;
	font-size: 80%;
	}

.GENERAL1 {
	font-family: "Arial";
	font-size: 110%;
	font-weight: bold;
	color: black;
	background-color: white;
}
.GENERAL2 {
	font-family: "Arial";
	font-size: 120%;
	font-weight: bold;
	color: black;
	background-color: lightgrey;
}

.couleur1 {
	background-color: lightgrey;
	color: black;
	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 120%;
}
.couleur2 {
	background-color: lightblue;
	color: black;
	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 120%;
}
.couleur3 {
	background-color: lightgreen;
	color: black;
	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 120%;
}

.select1 {
	background-color: white;
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 80%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	}

.select{
	background-color: white;
   	font-family: 'Courier New', Courier, monospace;
   	font-weight: Normal;
   	font-size: 100%;
	color: black;
	padding: 1px;
	border-radius: 5px;
	width: 100%;
  	}
	
.MSGTXT{
	background-color: #ebebf7;
   	font-family: TAHOMA;
   	font-weight: italic;
   	font-size: 100%;
	color: red;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	overflow: scroll;
  	}

.blink {
  animation: blink 1s linear infinite;
  background-color: white;
  color:red;
}

@keyframes blink {
  0%, 100% {
    opacity: 1; /* Fully visible */
  }
  50% {
    opacity: 0; /* Fully invisible */
  }
}
